<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <ul style="list-style-type:none;">
        <%= for greeting <- greetings do %>
          <li>
            <img width="500" height="400" src="<%= Gravur.Printing.get_image_url(greeting) %>" />
            <div><%= greeting.text %></div>
            <div><%= greeting.signature %></div>
          </li>
        <% end %>
      </ul>
    </p>
  </body>
</html>
