/* This file is for your main application css. */

@import "./phoenix.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.bt-circle-icon.btn-xl {
  padding-top: 16px;
}

.bt-circle-icon {
  padding-top: 3px;
}

#image-preview {
  width: 100px;
}

.top-bar {
  background-color: #F2EFED;
  border-bottom: 1px solid #95989A;
}

.mobile-app-name {
  color: #6F6D6C;
  text-align: center;
}

.mobile-body {
  margin-top:75px;
}

.mobile-bottom {
  background-color:#F5F3F2;
}

.mobile-empty-greetings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.app-button {
  color: #FFFFFF;
  background-color: #2E4E43;
}

.app-button:hover {
  color: #FFFFFF;
}

.mobile-input {
  background-color:transparent;
  border: 0px solid;
  height:30px;
  width:100%;
}
.mobile-input:focus {
  outline:none;
}

.mobile-textarea {
  background-color:transparent;
  border: 0px solid;
  height:230px;
  width:100%;
}
.mobile-textarea:focus {
  outline:none;
}

.close-button {
  border-radius: 50%;
  color: #6F6D6C;
}