<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
  </head>
  <body style="font-family: Roboto;">
    <div style="text-align:center">
      <img src="https://gravur.s3-eu-west-1.amazonaws.com/invite.png"/>
      <h3>Cześć!</h3>
      <p style="font-size: 17px">
      <%= @owner %> zaprasza cię do dodania wpisu do jego prywatnej księgi gości online.
      </p>
      <p style="font-size: 17px">
      Kliknij przycisk poniżej, aby uzyskać dostęp do księgi.
      </p>
      <div>
        <div style="margin-top:15px;margin-bottom:15px;color:#ffffff;background-color: #2E4E43;display: inline-block;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: 0.375rem 0.75rem;font-size: 1rem;line-height: 1.5;border-radius: 0.25rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">
          <%= link "DODAJ WPIS", style: "color: #ffffff;text-decoration: none;", to: Routes.book_greeting_url(@conn, :index, @book) %>
        </div>
      </div>
      <p>Chcesz dowiedzieć się więcej? Zapraszamy na stronę <a style="color: #000000;" href="http://gravur.pl/">www.gravur.pl</a></p>
    </div>
  </body>
</html>
