<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gravur</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand app-logo" href="/">Gravur</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <%= if Gravur.Identity.user_signed_in?(@conn) do %>
              <li class="nav-item px-2">
                <%= link "Moje księgi", to: Routes.book_path(@conn, :index), class: "nav-link #{active?(@conn, Routes.book_path(@conn, :index))}" %>
              </li>
              <li class="nav-item px-2">
                <%= link "Załóż księgę", to: Routes.book_path(@conn, :new), class: "nav-link #{active?(@conn, Routes.book_path(@conn, :new))}" %>
              </li>
              <li class="nav-item px-2">
                <%= link "Wyloguj", to: Routes.session_path(@conn, :delete), method: :delete, class: "nav-link #{active?(@conn, Routes.session_path(@conn, :delete))}" %>
              </li>
            <% else %>
              <li class="nav-item px-2">
                <%= link "Zaloguj", to: Routes.session_path(@conn, :new), class: "nav-link #{active?(@conn, Routes.session_path(@conn, :new))}" %>
              </li>
              <li class="nav-item px-2">
                <%= link "Zaloz konto", to: Routes.registration_path(@conn, :new), class: "nav-link #{active?(@conn, Routes.registration_path(@conn, :new))}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container mt-5">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>

      <%= if get_flash(@conn, :verified) do %>
      <div id="verified-email-modal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width: 750px;">
          <div class="modal-content p-5">
            <div class="modal-body">
              <div class="text-center">
                <img src="/images/mail_confirmed.svg">
              </div>
              <h2 class="text-center pt-4">Dziękujemy za potwierdzenie adresu email!</h2>
              <p class="text-center pt-5">
                Możesz teraz zacząć tworzyć swoją własną księgę gości! Miłej zabawy!
              </p>

              <div class="text-center pt-5">
                <button type="button" class="btn px-4 py-2 app-button" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </main>
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#verified-email-modal').modal('show');
        });
    </script>
  </body>
</html>
