<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gravur</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom shadow-sm">
        <a class="navbar-brand app-logo" href="/">Gravur</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" phx-update="ignore">
          <ul class="navbar-nav">
            <li class="nav-item pl-2 mt-2">
              <%= link "ZALOGUJ", to: Routes.session_path(@conn, :new), class: "btn px-4 py-2 app-button" %>
            </li>
            <li class="nav-item pl-2 mt-2">
              <%= link "ZAŁÓŻ KONTO", to: Routes.registration_path(@conn, :new), class: "btn px-4 py-2 app-button" %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div>
      <div style="position: absolute; top: 35%; left: 50%;" class="text-center img-fluid">
        <h2>Stwórz wspomnienia z najbliższymi!</h2>
        <p>Twórz swoją księgę gości ze swoimi najbliższymi, a wspomnienia z imprezy zostaną z wami na dłużej.</p>
        <%= link "ZAŁÓŻ SWOJĄ KSIĘGĘ GOŚCI", to: Routes.registration_path(@conn, :new), class: "btn px-4 py-2 app-button" %>
      </div>
      <img style="" class="img-fluid" src="/images/top.jpg"/>
    </div>
    <div class="text-center ml-5 mr-5" style="margin-top: -8%">
      <div style="z-index: 2; position: relative;">
        <div style="position: absolute; top: 20%; left: 0;" class="text-center img-fluid">
          Załóż konto i przygotuj swój własny szablon, okładkę oraz stronę tytułową w zaledwie kilku krokach.
        </div>
        <div style="position: absolute; top: 65%; left: 50%;" class="text-center img-fluid">
          A następnie udostępnij do niej link swoim najbliższym, aby mogli swobodnie dodać wpisy i zdjęcia. Kiedy chcą i jak chcą!
        </div>
        <img class="img-fluid" src="/images/middle.svg"/>
      </div>
      <div style="z-index: 1; position: relative; margin-top: -10%">
        <img class="img-fluid border" src="/images/sample_book.svg"/>
      </div>
      <div style="max-width:1520px;" class="row mt-1 mx-auto pt-5">
        <div class="col-sm px-0">
          <img class="card-img-top" src="/images/template.svg">
          <p>
          Gotowe szablony z Twoimi zdjęciami.
          </p>
        </div>
        <div class="col-sm row-center-column">
          <img class="card-img-top" src="/images/share.svg">
          <p>
          Udostępnianie bądź zapraszanie gości do twojej księgi.
          </p>
        </div>
        <div class="col-sm px-0">
          <img class="card-img-top" src="/images/print.svg">
          <p>
          Wydruk na wysokiej jakości papierze.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center m-5 pt-5">
      <h2>Zobacz jakie księgi tworzą nasi kliencie</h2>
      <div class="row mt-5">
        <div class="col-sm pb-3">
          <img class="card-img-top" style="max-width: 300px" src="/images/sample1.svg">
        </div>
        <div class="col-sm pb-3">
          <img class="card-img-top" style="max-width: 300px" src="/images/sample2.svg">
        </div>
        <div class="col-sm">
          <img class="card-img-top" style="max-width: 300px" src="/images/sample3.svg">
        </div>
      </div>
    </div>
    <footer class="page-footer font-small blue border-top" style="box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);">
      <div class="footer-copyright text-center py-3">© 2020 Copyright: Gravur</div>
    </footer>
  </body>
</html>
