<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gravur</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main">
      <div class="top-bar fixed-top">
        <h4 class="pb-3 pt-3 mobile-app-name">Gravur</h4>
      </div>
      <div class="mobile-body">
        <%= render @view_module, @view_template, assigns %>
      </div>

      <div class="fixed-bottom">
        <div class="alert success-alert p-3 alert-dismissible" role="alert">
          <%= get_flash(@conn, :info) %>
        </div>
        <div class="alert error-alert p-3" role="alert"><%= get_flash(@conn, :error) %></div>
        <div class="mobile-bottom p-3"">
          <div class="row">
            <div class="col ml-4">
              <%= if current_path(@conn) == Routes.book_greeting_path(@conn, :index, @book) do %>
                <img src="/images/home.svg">
              <% else %>
                <%= link to: Routes.book_greeting_path(@conn, :index, @book) do %>
                  <img src="/images/home-active.svg">
                <% end %>
              <% end %>
            </div>
            <div class="col text-right mr-4">
              <%= if current_path(@conn) == Routes.book_greeting_path(@conn, :new, @book) do %>
                <img src="/images/add.svg">
              <% else %>
                <%= link to: Routes.book_greeting_path(@conn, :new, @book) do %>
                  <img src="/images/add-active.svg">
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
